/.flake8
/.venv
.venv/
/.vscode
/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.zip
.DS_Store
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.env
.env.*
*.bak
*.tmp
*.swp
*.swo
*.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
/archive
/assets/old
/DC_SOURCES
/OUTPUT1_XML-RAW
/OUTPUT2_JSON-RAW
/OUTPUT3_JSON-TRANSFORMED
/OUTPUT4_DOCX-RESULT
/Z_DOCUMENTATION/analyse
/Z_DOCUMENTATION/old